














/*======================================MAIN=============================================*/







/* ==========================================HEADER===================================== */


/* =========================================HERO===================================================== */
 .hero-content {
     padding: 272px 100px 208px 100px;
     background-color: var(--second-btn-color);
     flex-grow: 1;
     background-image: linear-gradient(rgba(25, 28, 38, 0.2),
             rgba(25, 28, 38, 0.2)), url("../img/slider-new.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }


/* =========================================ABOUT==================================== */

/* ===================================PRICES================================== */


/* =====================================BENEFITS================================= */


 /* ===================================BARBERS=================================== */


 /* ============================GALLERY=============================== */




             

 /* ===========================ONLINE=============================== */
      
 /* ===========================CONTACTS============================= */

 /* ==========================FOOTER================================= */

 




/*==================================================MODALKA===============================================*/

