@charset "UTF-8";
body {
  font-family: "Open Sans" Verdana;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

:root {
  --main-color: #ffffff;
  --main-title-color:#ffffff;
  --main-btn-color:#7fffd4;
  --second-title-color: #808080;
  --second-btn-color:#4058ae;
  --accent-color:#FF6C00;
  --typical-lh: 1.36;
  --midle-lh: 1.33;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: var(--midle-lh);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  transition: color 300ms linear, background-color 300ms linear;
}

.btn:hover {
  background-color: #FF6C00;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--midle-lh);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-tel:hover {
  color: #FF6C00;
}

.header-tel, .hero-link {
  transition: color 300ms linear;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.header-logo {
  margin-right: 131px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: var(--typical-lh);
  letter-spacing: 0.1em;
  color: var(--main-color);
}

.header-link {
  transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-color);
  margin-left: 40px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  letter-spacing: 0.2em;
  color: #303030;
  transform: rotate(-90deg);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-content {
  padding: 272px 100px 208px 100px;
  background-color: var(--second-btn-color);
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/slider-new.jpg);
  background-repeat: no-repeat;
  background-image: center;
  background-size: cover;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.hero-container {
  display: flex;
}

.hero-list {
  display: flex;
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  align-items: center;
  gap: 40px;
}

.hero-list::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-size: 72px;
  color: var(--main-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  /* flex-direction: row-reverse;
   justify-content: start;*/
}

.hero-title::before {
  content: "🔥";
  color: brown;
  font-size: 40px;
  width: 40px;
  height: 40px;
  /*background-color: #7fffd4;
  background-image: url(../img/img2br.jpg);*/
  background-size: cover;
}

.hero-title:hover::before {
  color: green;
}

.hero-title::after {
  content: "!";
}

.hero-bottom-text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

.about-content {
  max-width: 470px;
}

.about-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.about-bottom-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: #303030;
}

.prices {
  background-color: #111319;
  background-image: url(/img/prices-bg.png), linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--main-color);
  margin-bottom: 44px;
}

.prices-list:first-child {
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:last-child {
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-item::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 12px;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text:last-child {
  order: 1;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.prices-btn {
  color: var(--main-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}

.benefits-container {
  display: flex;
  padding-left: 100px;
  gap: 130px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #F7F7F7;
  padding: 20px 24px;
  text-align: center;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  margin-bottom: 20px;
  color: #303030;
}

.benefits-content {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-title {
  margin-bottom: 20px;
  max-width: 430px;
  color: #303030;
}

.benefits-bottom-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-content {
  max-width: 470px;
}

.about-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.about-bottom-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: #303030;
}

.about-content {
  max-width: 470px;
}

.about-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.about-bottom-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: #303030;
}/*# sourceMappingURL=main.css.map */