:root{
    --main-color: #ffffff;
    --main-title-color:#ffffff;
    --main-btn-color:#7fffd4;
    --second-title-color: #808080; 
    --second-btn-color:#4058ae;
    --accent-color:#FF6C00;
  
  
  
    --typical-lh: 1.36;
    --midle-lh: 1.33;
  }
  