

.benefits-list {
    display: flex;
    width: 370px;
    flex-wrap: wrap;
   } 
  
   .benefits-container{
    display: flex;
    padding-left: 100px;
    gap:130px;
   }
  
   .benefits-item{
    width: 170px;
    height: 133px;
    background-color: #F7F7F7;
    padding: 20px 24px;
    text-align: center;
   }
  
   .benefits-item:nth-child(odd) {
    margin-right: 30px;
   }
  
   .benefits-item:nth-child(even) {
     margin-top: 30px;
   }
  
   .benefits-item span{
   
      font-weight: 700;
        font-size: 42px;
        line-height: 57px;
        
        letter-spacing: 0.05em;
      
        color: #303030;
   }
  
   .benefits-item-text {
    font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: var(--typical-lh);
      text-align: center;
    
      color: #303030;
   }
  
   .benefits-top-text {
    
      margin-bottom: 20px;
    
      color: #303030;
   }
  
   .benefits-content{
    max-width: 500px;
    padding-top: 9px;
   }
  
   .benefits-title {
      margin-bottom: 20px;
      max-width: 430px;
      color: #303030;
   }
  
   .benefits-bottom-text {
    font-weight: 400;
      font-size: 18px;
      line-height: 1.67;
      
    
      letter-spacing: 0.02em;
    
      color: #555555;
   }
  