.contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
}


.contacts-list::before {
    display: flex;
}





.contacts-title {
    color: var(--main-title-color);
    margin-bottom: 40px;
}

.contacts-address {
    font-style: normal;
    margin-bottom: 70px;
}

.contacts-address-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
    margin-bottom: 20px;
    display: block;
}

.contacts-item+.contacts-item {
    margin-top: 20px;
}

.contacts-link {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
    @extend %align-list;
    justify-items: center;

}

.contacts-item,
.contacts-photo {
    margin-right: 10px;
}


.contacts-link:hover,
.contacts-photo:hover {
    color: #FF6C00;
    transition: color 300ms linear 0s;
}


.contacts-address-link:hover {
    color: #FF6C00;
    transition: color 300ms linear 0s;
}



.contacts-subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: var(--typical-lh);
    text-transform: uppercase;
    @extend %align-list;
    gap: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 70px;
}

.contacts-subtitle::before {

    content: ' ';
    width: 60px;
    height: 1px;
    background-color: currentColor;

}

.contacts-schedule {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}