.footer-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
}



.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #9da4bd;
    margin-left: 30px;
}

/*
.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
 } */

.footer-cover {
    display: flex;
    align-items: center;
    justify-content: space-between;


}




.footer-list::before {

    content: ' ';
    width: 60px;
    height: 1px;
    background-color: rgb(48, 48, 48);

}

.footer-list {
    font-weight: 600;
    font-size: 11px;
    line-height: var(--typical-lh);
    letter-spacing: 0.2em;
    color: rgb(48, 48, 48);
    display: flex;


    align-items: center;
    gap: 20px;

}

.footer-link {

    transition: color 300ms linear;


}

.footer-link:hover,
.footer-link:focus {
    color: #ff6c00;
}