
.gallery-top-text{
    color: #303030;
    margin-bottom: 44px;
   }
  
   .gallery-item{
    width: calc((100% - 120px) / 4);
    
   }
  
      .gallery-list {
        display: flex;
        flex-wrap: wrap;
        /*column-gap: 30px;
      row-gap: 30px;
      
        margin: -15px;*/
        gap: 30px;
      }
  
          