.header {
    position: absolute;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation__logo {
    margin-right: 131px;
}

.navigation {
    @extend %align-list;
}

.header__container {
    @extend %align-list;
}

.menu {
    display: none;
    gap: 30px;
}

.menu__link,
.connect__tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.menu__link, .connect__tel {
    transition: color 300ms linear;

    &:hover,
    &:focus {
            color: #ff6c00;
        }
}

.header-link {
    transition: color 300ms linear;

    &:hover,
    &:focus {
            color: #ff6c00;
        }
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-color)
} */

.header__connect {
    margin-left: auto;
    display: none;
}

.header-logo-icon{
    fill: #ffffff;
    
}

.menu-open-btn {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}





.connect__btn {
    
    margin-left: 40px;
}











//==============================================MOBILE========================================================//


.header {}

.container {}

.header__container {}

.navigation {}

.logo {}

.navigation__logo {}

.header-logo-icon {}

.menu {}

.list {}

.menu__item {}

.menu__link {}

.link {}

.connect {}

.header__connect {}

.connect__tel {}

.connect__btn {}

.btn {}

.btn--light {}

.menu-open-btn {}

.socials__icon {}

.mob-menu {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;

    > .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
}

.menu-close-btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    display: block;
}

.mob-soc {
    position: relative;
    padding-left: 100px;

}

.mob-soc::before{
content: ' ';
width: 60px;
height: 1px;
position: absolute;
background-color:  #303030;
left: 0;
top: 9px;
}

.mob-menu__item:not(:last-child) {
    margin-bottom: 24px;

}

.mob-menu-list{
    margin-bottom: 64px;
}

.mob-menu__link {
    color: #303030;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.8px;
}

.mob-connect {
    margin-bottom: 64px;
}

.mob-connect__tel {
    color: #303030;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
}

.mob-connect__btn {
    display: block;
    margin-top: 24px;
}

.btn--dark {}

.mob-soc__list {}

.mob-soc__item:not(:last-child) {
    margin-bottom: 24px;

} 

.mob-soc__link {
    color: #303030;
       
        font-size: 14px;
        
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.8px;
}

.hero {}

.hero__container {}

.soc {}

.soc__list {}

.soc__item {}

.soc__link {}

.hero__content {}

.hero__top-text {}

.top-text {}

.hero__title {}

.animate__animated {}

.animate__heartBeat {}

.hero__bottom-text {}

.barbers {}

.section {}

.barbers__top-text {}

.barbers__title {}

.section-title {}

.cards {}

.cards__item {}

.cards__top-wrap {}

.cards__cover-text {}

.cards__item-content {}

.cards__item-title {}

.cards__item-text {}

.socials {}

.socials__item {}

.socials__link {}

.gallery {}

.gallery-top-text {}

.visually-hidden {}

.gallery-list {}

.gallery-item {}