
.header {
    position: absolute;
    width:100%;
    padding-top: 32px;
    padding-bottom: 32px;
}





.header-list{
  display: flex;
  gap: 30px;
}

.header-tel:hover{
  color: #FF6C00; 
}

.header-tel, .hero-link {
  transition: color 300ms linear;
}

.header-navigation{
  @extend %align-element;
}

.header-container{
@extend %align-element;
}

.header-connect{
  margin-left: auto;
}

.header-logo{

    margin-right: 131px;
  
}



.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: var(--typical-lh);
  letter-spacing: 0.1em;

  color: var(--main-color);
}


.header-link{
  transition: color 300ms linear;

  &:hover,
  &:focus {
      color: var(--accent-color);
    }
}





.header-btn {
  color: var(--main-color);
  margin-left: 40px;
}
